.detailsPanel {
  overflow-y: scroll;
  height: 100%;
}

.detailsWrapper {
}

input {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff8f;
  border: none;
  padding: 10px;
  font-size: 15px;
  flex-grow: 1;

  transition: 0.2s all;
}

input:focus {
  background-color: #28282b;
  color: white;
  border-left: 4px solid #2d5bcb;
  outline: none;
}

.componentDetails {
  display: flex;
  flex-direction: column;
}

.propertyDetails {
  display: flex;
  flex-direction: column;
}

.detailsCategory {
}

.categoryHeader {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;

  transition: 0.2s all;
}

.categoryHeader:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.categoryContents {
  box-shadow: inset 0px 0px 8px -2px #000000;
  padding: 30px 20px 30px 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;

  transition: 0.2s all;
}

.categoryCollapse {
  height: 0;
  display: none;
}

.categoryShow {
  height: auto;
  display: flex;
}

.categoryCollapseIcon {
  margin-right: 10px;
  transition: 0.2s all;
}

.propName {
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-size: 14px;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  padding-left: 10px;
}

.detailsHeader {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.detailsComponentName {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px 20px;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
