.detailsPanel {
}

.detailsWrapper {
  overflow-y: scroll;
}

.detailsInput {
  background-color: #0f0f10;
  color: #ffffff8f;
  border: none;
  padding: 10px;
  font-size: 15px;

  transition: 0.2s all;
}

.detailsInput:focus {
  background-color: #28282b;
  color: white;
}
.componentDetails {
}
