.edWindow {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.edPanel {
  width: 100%;
  height: 100%;
}

.split {
  width: 100%;
  height: 100%;
}

.split-horizontal {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #1b1b1f;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: e-resize;
}

.gutter.gutter-vertical {
  cursor: n-resize;
}
