body {
  background-color: #161618;
  color: #dfdfd6;
  margin: 0px;
  font-family: 'Inter', sans-serif;
  user-select: none;
  scrollbar-color: #272a2f transparent;
}

::selection {
  color: white;
  background: rgba(255, 255, 255, 0.5);
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.edWindowContent {
  height: 100%;
  overflow: hidden;
}

.panel {
  flex-grow: 1;
  padding: 10px;
}

.split {
  max-width: 100%;
  max-height: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.editor-main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column;
  justify-items: end;
}
