.outlinerPanel {
  padding: 0;
  overflow-y: scroll;
}

.outlinerList {
  list-style: none;
  padding-inline-start: 0px;
}

.outlinerRow {
  background-color: transparent;
  padding: 5px 10px;
  cursor: pointer;

  transition: 0.2s all;
}

.selected {
  background-color: #2d5bcb;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;

  transition: 0.2s all;
}

.selected:hover {
  background-color: #4b78e8;
}

.outlinerRow:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
