.toolbar {
  display: flex;
  background-color: #0f0f10;

  z-index: 1;
}

.toolbarMenu {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  color: #8f8f8f;
  background-color: transparent;
  border-bottom: 2px solid transparent;

  transition: 0.2s all;
}

.toolbarMenu:hover {
  color: white;
  background-color: #ffffff10;
  border-bottom: 2px solid white;
}

.toolbarMenuDropdown {
  background-color: #1b1b1f;
  position: absolute;
}

.toolbarMenuSubItem {
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  color: #8f8f8f;
  border-left: 2px solid transparent;

  transition: 0.2s all;
}

.toolbarMenuSubItem:hover {
  border-left: 2px solid white;
  background-color: #ffffff10;
  color: white;
}
